.welcome-section {
    position: relative;
    padding-bottom: 2em;
    .welcome-container {
        position: relative;
        padding-left: 10%;
        .heading {
            font-family: 'MTC-SemiBold';
            font-size: 2em;
            margin-bottom: 1em;
            color: #061b30;
            span {
                position: relative;
                &:after {
                    content: '';
                    background: #061b30;
                    position: absolute;
                    height: 3px;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    margin-top: 0.1em;
                    transform: translateY(-50%);
                }
            }
        }
        .description {
            margin-bottom: 2em;
            font-family: 'MTC-Medium';
            font-size: 0.8em;
            line-height: 22px;
            color: #061b30;
        }
        .left-section {
            display: inline-block;
            width: 45%;
            position: relative;
            margin-right: 1%;
        }
        .right-section {
            position: absolute;
            width: 45%;
            display: inline-block;
            right: 0;
            padding: 1em;
            padding-top: 0;
            img {
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 1px 4px 1px grey;
            }
        }
    }
}
