.head-image-style {
    position: relative;
    width: 100%;
}
.page-title-style {
    position: absolute;
    top: 50%;
    left: 19.4%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MTC-SemiBold';
    font-size: 3em;
    &:after {
        content: '';
        position: absolute;
        height: 5px;
        width: 130%;
        margin-top: 0.3em;
        background: #fff;
        top: 100%;
        left: 65%;
        transform: translate(-50%, -50%);
    }
}
