@mixin desc {
    font-family: 'MTC-Regular';
    font-size: 1em;
    padding: 2em 10%;
    line-height: 1.4em;
    color: #061b30;
    letter-spacing: 0.03em;
}
.head-image-style {
    position: relative;
    width: 100%;
}
.page-title-style {
    position: absolute;
    top: 50%;
    transform: translateY(-50%, 50%);
    width: initial;
    left: 10%;
    color: #fff;
    font-family: 'MTC-SemiBold';
    font-size: 3em;
    &:after {
        content: '';
        position: absolute;
        height: 5px;
        width: 130%;
        margin-top: 0.3em;
        background: #fff;
        top: 100%;
        left: 65%;
        transform: translate(-50%, -50%);
    }
}
.description {
    @include desc;
    p:first-child {
        margin-bottom: 1em;
    }
}
.what-we-do-container {
    background: url('../../assets//images/what-we-do/our-services.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .our-services {
        padding-top: 1em;
        padding-right: 1em;
        height: 100vh;
        color: #fff;
        position: relative;
        .heading {
            font-family: 'MTC-Regular';
            font-size: 3em;
            margin: 0 10%;
            padding: 0;
            position: relative;
            display: inline-block;
            &::after {
                content: '';
                position: absolute;
                height: 5px;
                width: 80%;
                background: #fff;
                top: 100%;
                left: 0;
                transform: translateY(-50%);
                margin-top: 0.24em;
            }
        }
        .description {
            @include desc;
            color: #fff;
            margin: 2em 10%;
            padding: 0;
            padding-bottom: 1.5em;
        }
        .slick-slider {
            .slick-prev {
                display: none !important;
            }
            .slick-slide {
                margin: 0 5px;
            }
        }
        .service-container {
            font-family: 'MTC-Regular';
            display: flex;
            bottom: 2em;
            img {
                width: 100%;
            }
            margin: 0 10px;
            .service {
                background: #fff;
                display: flex;
                flex-direction: column;
                .caption {
                    margin: .95em;
                .title {
                    color: #061b30;
                    font-family: 'MTC-SemiBold';
                    position: relative;
                    &::after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        background: #061b30;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        margin-top: 0.28em;
                    }
                }
                .description {
                    color: #061b30;
                    font-size: 0.8em;
                    margin-left: 0;
                    margin-right: 0;
                }
                .explore-more {
                    color: #fff;
                    padding: 0.5em;
                    background: #061b30;
                    font-family: 'MTC-Regular';
                    border-radius: 2px;
                    display: inline-block;
                    bottom: 6px;
                    position: relative;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            }
        }
    }
}
.industry-standards-container {
    .industry-standards {
        margin: 0 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .heading {
            font-family: 'MTC-Regular';
            grid-column: 1;
            font-size: 3em;
            margin: 0;
            padding: 0;
            position: relative;
            display: inline-block;
            color: #061b30;
            margin-top: 0.67em;
            &::after {
                content: '';
                height: 5px;
                width: 80%;
                background: #061b30;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 0.28em;
            }
        }
        .description {
            padding-left: 0;
            grid-column: 1 / span 2;
        }
    }
    .is-section-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10%;
        .image {
            grid-column: 1;
            padding-bottom: 2.2em;
        
        }
        .listings {
            grid-column: 2;
            position: relative;
            font-family: 'MTC-SemiBold';
            ul {
                font-family: inherit;
                display: inline-block;
                padding-top: 1.78em;
                li {
                    padding: .25em 0;
                }
            }
            .other-listings {
                font-family: 'MTC-Bold';
                display: inline-block;
                top: 0;
                padding-left: 2.5em;
                font-size: 1.1em;
                position: absolute;
                ul {
                    font-family: 'MTC-SemiBold';
                    padding-left: 1.5em;
                    padding-top: .4em;
                }
            }
        }
    }
}
