.header-container {
    background-color: rgba(6, 27, 48, 0.76);
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.86);
    .pre-header-items-container {
        color: #fff;
        width: 100%;
        position: relative;
        .logo-container {
            display: inline-block;
            position: absolute;
            left: 10%;
            transform: translateX(-50%);
            div {
                position: relative;
                .logo {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    z-index: 9999;
                }
            }
            svg {
                filter: grayscale(1) brightness(100);
                padding-top: 0.78em;
                border: none;
                fill: none;
                stroke: none;
            }
        }
        .pre-header-items {
            padding-top: 0.47em;
            border-bottom: 1px solid #fff;
            float: right;
            right: 4em;
            padding-right: 1.5em;
            div {
                display: inline-block;
                cursor: pointer;
                margin-bottom: 0.2em;
                margin-right: 0.99em;
                svg {
                    margin-right: 0.66em;
                    width: 0.9em;
                    height: 0.9em;
                    bottom: -3px;
                    position: relative;
                    stroke: rgba(0, 0, 0, 0.65);
                    fill: #fff;
                    &:hover {
                        fill: #fff;
                    }
                }
                span {
                    font-family: 'MTC-Light';
                    font-size: 0.56em;
                }
            }
            span {
                margin-right: 1em;
            }
        }
    }
    .header-items {
        position: absolute;
        font-family: 'MTC-SemiBold';
        right: 0;
        top: 4.2em;
        font-size: 0.8em;
        cursor: pointer;
        li {
            list-style: none;
            display: inline-block;
            margin-right: 2.2em;
            color: #fff;
            transition: all 0.34s ease-in-out;
            &:hover {
                color: rgb(233, 230, 230);
            }
        }
    }
}
