.our-clientele-container {
    background: #061c31;
    padding-top: 5%;
    background: url('./assets/images/image8.png');
    background-repeat: no-repeat;
    .heading {
        color: #fff !important;
        span:after {
            background: #fff !important;
        }
    }
}

.our-clientele-description {
    font-family: 'MTC-Bold';
    color: #fff !important;
    font-size: 1.14em !important;
}
.sub-text {
    font-family: 'MTC-Light' !important;
    font-size: 0.87em !important;
}
