.carousel-item {
    position: relative;
    .carousel-image {
        width: 100%;
    }
}
.info-container {
    top: 57.5%;
    transform: translateY(-50%);
    position: absolute;
    left: 10%;
    font-family: 'MTC-Bold';
    width: 45%;
    .heading,
    .description {
        color: white;
        font-size: 3.5em;
    }
    .description {
        font-size: 1.24em;
        font-family: 'MTC-Regular';
        line-height: 1.4em;
    }
    .heading {
        padding-bottom: 0.4em;
        width: 85%;
    }
    .carousel-button {
        margin-top: 1em;
        padding: 1em 2.5em;
        text-transform: uppercase;
        font-family: 'MTC-SemiBold';
        font-size: 0.85em;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        transition: all 0.34s ease-in-out;
        &:hover {
            background: rgb(233, 230, 230);
        }
    }
}

.slick-arrow {
    width: 50px;
    height: 50px;
    transition: all 0.34s ease-in-out;
    background: white !important; // Not really sure why this gets overridden :(
}
.slick-next,
.slick-prev {
    &:before {
        content: '';
        background: url(/public/assets/icons/chevron-right.svg);
        position: absolute;
        height: 50px;
        width: 50px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100000;
        line-height: 0;
    }
    &:hover {
        background: rgb(233, 230, 230) !important;
    }
}
.slick-next {
    right: 0;
    &:before {
        background: url('./assets/icons/chevron-right.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.slick-prev {
    left: 0;
    z-index: 9999;
    &:before {
        background: url('./assets/icons/chevron-left.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
