.footer-section {
    display: grid;
    color: #fff;
    background-color: #061b30;
    padding-top: 3em;
    font-family: 'MTC-SemiBold';
    font-size: 1em;
    .footer-container {
        display: grid;
        grid-template-columns: 250px repeat(5, 1fr) 250px;
        margin-bottom: 1.3em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 2em;
        .logo-container {
            justify-self: center;
            position: relative;
            div {
                position: relative;
                .logo {
                    cursor: pointer;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: 9999;
                }
            }
            svg {
                filter: grayscale(1) brightness(100);
            }
        }
        div ul {
            margin-top: 1em;
            li {
                font-family: 'MTC-Light';
                list-style-type: none;
                margin-top: 1.18em;
                font-size: 0.65em;
                cursor: pointer;
                transition: all 0.35s ease-in-out;
                &:hover {
                    color: rgb(233, 230, 230);
                }
            }
        }
        .contact-us {
            ul {
                li {
                    a {
                        display: block;
                        margin-top: 0.35em;
                        text-decoration: none;
                        color: inherit;
                    }
                }
                .address {
                    cursor: initial;
                }
            }
        }
    }
    .copyright {
        position: relative;
        margin-bottom: 1em;
        font-size: 0.76em;
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-family: 'MTC-Light';
        }
    }
}
